﻿@model ProjeOdev.Models.entity.Proje

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Silmeye emin misin?</h3>
<div>
    <h4>Proje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @if (Model.Resim == "")
            {
                <p>Resim yok</p>
            }
            else
            {
                <img src="@Model.Resim" width="150" height="150" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye geri dön", "Index")
        </div>
    }
</div>
