﻿@model ProjeOdev.Models.entity.Proje

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Bilgiler</h2>
<div>
    <h4>Proje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
                @if (Model.Resim == "")
                {
                    <p>Resim yok</p>
                }
                else
                {
                    <img src="@Model.Resim" width="150" height="150" />
                }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeID)
        </dt>

        <dd>
           @ViewBag.kisi
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Listeye geri dön", "Index")
</p>
