﻿@model IEnumerable<ProjeOdev.Models.entity.Proje>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjeBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjeIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Bilgiler", "Details", new { id=item.ID }) |
           
            @if ( ViewData["admin"]== "admin")
            {
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })
            }
           
            
        </td>
    </tr>
}

</table>
