﻿
@model IEnumerable<ProjeOdev.Models.entity.Yorum>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proje.ProjeBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uye.UyeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YorumIcerik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proje.ProjeBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uye.UyeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YorumIcerik)
        </td>
    </tr>
}

</table>
