﻿
@{
    ViewBag.Title = "Home Page";
}
    <div id="carousel-home" data-ride="carousel" class="carousel slide carousel-fullscreen carousel-fade">
        <!-- Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides-->
        <div role="listbox" class="carousel-inner">
            <div class="item active">
                <img src="~/img/arka.jpeg" />
                <div class="overlay">
                </div>
                <div class="carousel-caption">
                    <h1 class="super-heading" style="color:black;">Proje Tasarım </h1>
                    <p class="super-paragraph" style="color:black;">Proje paylaşım platformu .</p>
                </div>
            </div>
            <div class="item">
                <img src="~/img/slider3.png" />
                <div class="overlay"></div>
                <div class="carousel-caption">
                    <h1 class="super-heading">Praesent dapibus, neque id cursus faucibus</h1>
                    <p class="super-paragraph">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci</p>
                </div>
            </div>
            <div class="item">
                <img src="~/img/arka.jpeg" />
                <div class="overlay"></div>
                <div class="carousel-caption">
                    <h1 class="super-heading">Lorem ipsum dolor color</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
        </div>
    </div>

