﻿@model IEnumerable<ProjeOdev.Models.entity.Proje>

@{
    ViewBag.Title = "Projeler";
}
<div class="row">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="row">
                    <img src="@item.Resim" width="242" height="200" >
                    <div class="caption">
                        <h3>@item.ProjeBaslik</h3>
                        <p><a href="/Home/ProjeDetay/@item.ID" class="btn btn-primary" role="button">Devamı için tıklayın</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
