﻿@model ProjeOdev.Models.entity.Proje

@{
    ViewBag.Title = "ProjeDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Model.ProjeBaslik
            </div>
            <div class="panel-body">
                <img src="@Model.Resim"class="img-responsive"/>
                <pre>@Model.ProjeIcerik</pre>
            </div>
            <div class="panel-footer">
                @foreach (var item in Model.Yorumlar)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @item.Uye.UyeAdi Diyorki
                        </div>
                        <div class="panel-body">@item.YorumIcerik</div>
                    </div>
                }
                <div class="row">
                    @{
                        if (Session["yetki"] != null)
                        {
                            using (Html.BeginForm())
                            {
                                <div class="col-md-9">
                                    <textarea name="yorum" id="yorum" class="form-control" placeholder="Yorum giriniz"></textarea>

                                </div>
                                <input type="text" name="id" id="id" value="@Model.ID" style="visibility:hidden" />
                                <div class="col-md-3">
                                    <input class="btn btn-danger" type="submit" value="Gönder">
                                </div>
                            }
                        }
                    }
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
