﻿
@{
    ViewBag.Title = "Vizyon";
}


<blockquote>
   

    <h3 class="panel-title">Vizyonumuz</h3>
    <p>
        Proje paylaşım platformu yaparak herkesin yardımlaşıp kendilerini ve başka kişileri bilgi
        paylaşımı yapması için gerekli ortamı sağlamaktır.
    </p>
    <footer>We are <cite >Cengiz and Mustafa</cite></footer>
</blockquote>

<p></p>

