﻿@model ProjeOdev.Models.entity.Uye
@{
    ViewBag.Title = "Kayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-3">

</div>
<div class="col-md-9 panel-body">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="form-group row">
            <label for="focusedinput" class="col-sm-3 control-label">Adınız</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(x=>x.UyeAdi,new { @class="form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="focusedinput" class="col-sm-3 control-label">Soyadınız</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.UyeSoyadi, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="focusedinput" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="focusedinput" class="col-sm-3 control-label">Şifre</label>
            <div class="col-sm-6">
                @Html.PasswordFor(x => x.Sifre, new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" value="Gönder" class="btn btn-primary" />
    }
</div>
<div class="col-md-3">

</div>
<div class="row">

</div>