﻿@model ProjeOdev.Models.entity.Uye

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Profil</h2>

<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetki.YetkiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.YetkiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "ProfilDüzenle","Admin", new { id = Model.ID }) |
</p>
