﻿/*body {
    padding-top:10px;
    font-family: sans-serif;

}
.logo{
        line-height: 25px;
        letter-spacing:5px;
        font-size: 25px;
        color:#ef5285;
        font-weight: bold;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

}
.menü{
        letter-spacing:1px;
        font-weight: bold;
}*/
.giris:link{
    color:black;

}
.resim{
    max-width:150px;
    max-height:450px;
}