﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -ProjeniPaylaş</title>
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/script")
</head>
<body>

    <header class="header">
        <div role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="@Url.Action("Index")" class="navbar-brand">projeniPaylaş</a>
                    <div class="navbar-buttons">
                        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
                    </div>
                </div>
                <div id="navigation" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Ana Sayfa", "Index","Home")</li>
                        <li>@Html.ActionLink("Projeler", "Projeler","Home")</li>
                        <li>@Html.ActionLink("Vizyon", "Vizyon","Home")</li>
                    </ul>
                    @{
                        if (Session["yetki"] != null)
                        {
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Admin Paneli", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Çıkış", "Cıkıs", "Admin")</li>
                            </ul>
                        }
                        else
                        {
                            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn navbar-btn giris"><i class="fa fa-sign-in"></i>Log in</a>
                        }
                    }
                    
                </div>
            </div>
        </div>
        @* giriş sayfası açılır div çeklinde*@
            <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header giris">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                            <h4 id="Login" class="modal-title">Giriş</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/Admin/Giris" method="post">
                                <div class="form-group">
                                    <input id="email" name="email" type="text" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="sifre" name="sifre" type="password" placeholder="password" class="form-control">
                                </div>
                                <p class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                                </p>
                            </form>
                            @Html.ActionLink("Yeni Kayıt için tıklayın", "Kayit", "Admin")
                        </div>
                    </div>
                </div>
            </div>

            


    </header>
    <div class="container body-content">
        @RenderBody()

        @Html.Partial("~/Views/Partial/footer.cshtml")
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
