﻿
@{
    if (Session["yetki"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Panel</title>
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/script")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ana Sayfa Dön", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Profil","Admin")</li>
                    <li>@Html.ActionLink("Projeler", "Index","Proje")</li>
                    <li>@Html.ActionLink("Proje Ekle", "Create", "Proje")</li>
                    <li>@Html.ActionLink("Çıkış", "Cıkıs", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="container">
                @RenderBody()


            </div>
        </div>
        <hr />
        
    </div>

    @Html.Partial("~/Views/Partial/footer.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
